html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    |     
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    |             
    |     
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js')
  |     
  |   
  body
    input#chartId(value='#{chartId}', type='hidden')
    |     
    |     
    canvas#chart
    |   
    |     
    div
      button#button.col-xs-6.col-xs-offset-3.btn.btn-primary.btn-xs(onclick='fs()') View in full screen
    |     
    script.
      function fs(){
        window.open("https://charterapi.herokuapp.com/charts/chart/"+$('#chartId').val(), '_blank')
      //- window.parent.postMessage(JSON.stringify({event_code:'ym-client-event', data: JSON.stringify({
      //-                       event: {
      //-                           code: "redirect",
      //-                           data: {
      //-                               url : "https://charterapi.herokuapp.com/charts/chart/"+$('#chartId').val()
      //-                           }
      //-                       }
      //-                   })}), 'https://chat.botplatform.io');


      }
      $.ajax({
      url:'/charts/data/'+$('#chartId').val(),
      method:'post',
      success:function(response){
      var ctx = document.getElementById("chart").getContext(response.context);
      var myChart = new Chart(ctx, response.config);
      }
      });
      $(document).ready(function(){
        if(!window.url.contains("botplatform")){
            $("#button").hide();
        }
      })
